HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Carpeta de entorno virtual
ing_soft_env/

docker/mysql/.env

ms-user/docker/mysql/data/
ms-user/docker/mysql/data/#innodb_redo/#ib_redo17_tmp
ms-user/docker/mysql/data/#innodb_temp/temp_1.ibt
ms-user/docker/mysql/data/#innodb_temp/

/home/emiliano/Escritorio/ing_software/ing_software_project/docker/traefik/data
